<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Bookstore</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css" />
  <style>
    body {
      background-color: azure;
      margin: 0% 5% 0% 5%;
    }

    h1 {
      margin-top: 2%;
      margin-bottom: 2%;
      text-align: center;
    }

    h3 {
      display: inline-block;
    }

    button {
      margin-left: 5px;
    }
  </style>
</head>

<body>
  <h1>BOOK WORLD STORE</h1>
  <div id="mainDiv" class="row">
    <div id="bookDiv" class="col-lg-8 col-sm-6">
      <h3>Books Available For you</h3>
    </div>
    <div id="bookSearchDiv" class="col-lg-4 col-sm-6">
      <div class="d-flex justify-content-end align-items-center">
        <input type="text" id="search" placeholder="Enter title/author or genre" />
        <button id="searchBtn" class="btn btn-primary btn-sm" onclick="searchBooks()">
          Search
        </button>
      </div>
    </div>
  </div>
  <br />
  <div id="booksTableDiv"></div>
  <div id="CartDiv">
    <button id="goToCartBtn" class="btn btn-primary btn-sm">
      Go To Cart
    </button>
  </div>

  <script>
    const token = sessionStorage.getItem("token");

    // Client Side JS Function to send request to server in search of a book
    async function searchBooks() {
      const searchCriteria = document.getElementById("search").value;
      const response = await fetch(
        `/api/books/search?criteria=${searchCriteria}`,
        {
          headers: {
            ...(token && { Authorization: `${token}` }),
          },
        }
      );
      if (!response.ok) {
        throw new Error("Network response was not ok");
      }
      const books = await response.json();
      console.log("in html data:", books);
      displayBook(books);
    }

    // Client Side JS Function to send request to server for all book details.
    async function getAllBooks() {
      const response = await fetch(`/api/books/`, {
        headers: {
          ...(token && { Authorization: `${token}` }),
        },
      });
      if (!response.ok) {
        throw new Error("Network response was not ok");
      }
      const books = await response.json();
      // For Debugging:
      console.log("All books: ", books);
      displayBook(books);
    }

    // Client Side JS Function to send a PUT request to server in order to update the selected book.
    // Each Book entry has its own edit button. This edit button provided the bookId for the particualr book.
    async function addToCart(bookId, quantityInCart) {
      // For debugging console.log(bookId);
      // for debugging console.log("qunatity: ", quantityInCart);
      try {
        const response = await fetch(`/api/cart/add`, {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
            ...(token && { Authorization: `${token}` }),
          },
          body: JSON.stringify(bookId, quantity),
        });

        if (!response.ok) {
          throw new Error(
            "Failed to add book to cart: ${response.status} ${response.statusText}"
          );
        }
        const addedToCartBook = await response.json();
        console.log("Book added to  cart", addedToCartBook);
        getAllBooks();
      } catch (error) {
        console.log("Error adding to cart: ", error);
      }
    }

    // This function displays the details of all books from BookStore.books (from DB) to html page in table format
    function displayBook(books) {
      // get the element by ID
      const booksTable = document.getElementById("booksTableDiv");
      booksTable.innerHTML = "";
      // If book details is fetched
      if (books.length > 0) {
        // create Table to display
        const table = document.createElement("table");

        // style table with bootstrap
        table.classList.add("table");

        // create Header Row element for table (tr)
        const headerRow = table.insertRow(0);
        const headers = [
          "Title",
          "Author",
          "Genre",
          "In Stock",
          "Price (in USD)",
          "Cart",
          "Quantity in Cart",
        ];

        // Creating th for each headers.
        headers.forEach((headerText) => {
          const header = document.createElement("th");

          // style header using bootStrap
          header.classList.add("table-dark");
          header.textContent = headerText;
          headerRow.appendChild(header);
        });

        let quantityInCart;

        //Populate the table with book details
        books.forEach((book) => {
          const row = table.insertRow();
          const cells = [
            book.title,
            book.author,
            book.genre,
            book.quantity,
            book.price,
          ];
          cells.forEach((cellText, index) => {
            const cell = row.insertCell();
            cell.textContent = cellText;
            if (index === cells.length - 1) {
              quantityInCartInput = document.createElement("input");
              quantityInCartInput.classList.add("form-control");
              quantityInCartInput.type = "number";
              quantityInCartInput.value = 1;
              quantityInCartInput.min = 1;
              quantityInCartInput.max = book.quantity;

              // Adding update Icon for each entry
              const addToCartIcon = document.createElement("i");
              addToCartIcon.classList.add("bi", "bi-cart-fill");
              // When clicked on updateIcon
              addToCartIcon.addEventListener(
                "click",
                createAddToCartHandler(book._id, quantityInCartInput)
              );

              // Append buttons and input field to the cell
              row.insertCell().appendChild(quantityInCartInput);
              row.insertCell().appendChild(addToCartIcon);
            }
          });
        });

        booksTable.appendChild(table);
      } else {
        booksTable.textContent = "No Books Found!!!";
      }
    }

    function createAddToCartHandler(bookId, quantityInCartInput) {
      return () => {
        console.log("Added to cart:", bookId, quantityInCartInput.value);
        addToCart(bookId, quantityInCartInput.value);
      };
    }

    // Fetch all the book details when page is loaded
    getAllBooks();
    // You can add functions for adding, updating, and deleting books as needed.
  </script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
    crossorigin="anonymous"></script>
</body>

</html>